.nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navLink {
    display: flex;
    padding: 5px;
    background-color: transparent;
    text-decoration: none;
  }
  .active {
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid #646cff;
  }